//@import url(https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,600,700&amp;subset=latin-ext);

@import "bem";
@import 'mq';

html *
{
   font-family: Raleway;
}

$blue: #196cde;
$family-serif: "Raleway", serif;
$family-primary: $family-serif;
$primary: #196cde;

@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";

@import 'Components/layout';

@import 'Components/application-form';
@import 'Components/field';

@import 'Components/register';
@import 'Components/form';
@import 'Components/apply';

@import 'Components/nova-pregled';
@import 'Components/pregled';
@import 'Components/filters';
@import 'Components/loading';
@import 'Components/tabs';

@import 'FontAwesome/font-awesome';

select::-ms-expand {
    display: none;
}