@include o('apply') {
    @include mq($from: mobile, $until: desktop) {
        overflow-x: hidden;
          margin-left: 4px;
          margin-top:20px;
    }

    @include e('right') {
        
        right: 0px;
        background-color: #196cde;
       bottom: 0px;
       top: 35px;

    @include mq($from: mobile, $until: tablet) {
        position: initial;
    }
    }

    @include e('top-title') {
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2b2e3e;
        width: 100px;
        border-bottom:2px solid #196cde;
        padding-bottom: 10px;
    }
    
    @include e('columns') {
        margin-bottom: 0px!important;
    }
    
    @include e('title') {
       font-size: 34px;
       font-weight: bold;
       font-style: normal;
       font-stretch: normal;
       line-height: 1.24;
       letter-spacing: normal;
       color: #2b2e3e;
       margin-top: 21px;
       margin-bottom: 24px;
    }

    @include e('subtitle') {
       font-size: 24px;
       font-weight: 500;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       letter-spacing: normal;
       color: #2b2e3e;
    }

    @include e('title-help') {
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #979ba6;
            margin-top: 5px;
    }

    @include e('text-container') {
        margin-top: 0px;
    }

    @include e('paragraph') {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #2b2e3e;
        margin-bottom: 24px;
    }

    @include e('icon-container') {
        width: 100px;
        height: 100px;
        margin-top: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    @include e('title-container'){
        font-size: 48px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fdfdfd;
        margin-top: 20px;
        margin-bottom: 40px;
      @include m('p') {
          color: #d2dbe7;
      }  
      @include m('e') {
            font-weight: 500;
            color: #ffffff;
      }
    }
    
    @include e('underline') {
        border-bottom-style: solid;
        padding-bottom: 2%;
    }

    @include e('right-subtitle') {
       font-size: 18px;
       font-weight: 300;
       font-style: normal;
       font-stretch: normal;
       //line-height: normal;
       line-height: 1.5;
       letter-spacing: normal;
       text-align: center;
       color: #ffffff;
          margin-top: 40px;
    margin-bottom: 32px;
    }

    @include e('footer') {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    @include e('contact-label') {
       font-size: 16px;
       font-weight: 500;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       letter-spacing: normal;
       color: #fdfdfd;
       text-align: center;
    }
   

    @include e('line') {
       display:inline-block;
       height:100%;
       border-bottom: solid 3px #fdfdfd;
       width: 100%;
       height: 0px;
       margin-top: -1px;
      
    }

    @include e('contact-info') {
        margin-left: 12px;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fdfdfd; 
    }

    @include e('column-fix') {
            height: 52px;
    }

    @include e('contact-text') {
        vertical-align: super;
        font-size: 16px;
        font-weight: 400;
        color: #fdfdfd;
        
    }

    @include e('contact-link') {
        vertical-align: super;
        font-size: 16px;
        font-weight: 400;
        color: #fdfdfd;

        &:hover{
            color: #fdfdfd;
            text-decoration: underline;
        }
    }

    @include e('button') {
        margin-top: 32px;
        width: 377px;
        height: 75px;
        color: white!important;
        border: solid 2px #fdfdfd!important;
        width: 355px;
        height: 63px;
    @include mq($from: mobile, $until: tablet) {
        width: 255px;
        height: 43px;
    }
    &:hover {
         background-color: white!important;
         color: $primary!important;
    }
    }

    @include e('small-icon') {
        width: 30px;
        height: 30px;
        margin-right: 17px;
        vertical-align: sub;
    }
}

@include o('modal') {
        margin: 0 20px!important;
        background-color: white;
        width: 909px;
        height: 600px;
        overflow-x: hidden;
        padding: 0px!important;
        @include m('small'){
            height: inherit;
        }
    @include mq($from: mobile, $until: desktop) {
       overflow-y: auto;
       margin-right: 0px;
       margin-left: 0px;
       width: 100%;
    }
    @include e('right-side') {
        background-color: #d2dbe7;
        margin-right: 4px;
        min-height:610px;
    @include mq($from: mobile, $until: desktop) {
       margin-left: 4px;
       margin-right: 4px;
       min-height: 0;
    }
   }
    @include e('left-side') {
        margin-top: 25px;
    @include mq($from: mobile, $until: desktop) {
      margin-left: 4px;
      margin-right: 4px;
    }
    }

    @include e("align"){
        align-self: flex-end;
    }

    @include e('title') {
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #2b2e3e;
        margin-bottom: 24px;
        border-bottom: solid 6px #196cde;
        padding-bottom: 24px;
        display: inline-block;
        }

 @include e('button-container') {
     margin-top: 34px;
     margin-bottom: 28px;
 }

 @include e('forgot-password') {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2b2e3e;
    cursor: pointer;
    margin-top: 34px;
    height: 15px;
    &:after {
    @include mq($from: mobile, $until: desktop) {
       display: none;
    }
       content:'';
       display:inline-block;
       width: 143px;
       height: 1px;
       border: solid 1px #d2dbe7;
    }
 }

 @include e('button-container') {
     margin-bottom: 17px;
     margin-top: 21px;
 }

  @include e('button') {
     width: 100%;
    height: 48px;
    border-radius: 4px;
    background-color: #196cde!important;
    color: white!important;
    @include m('new-account') {
         width: 431px;
         height: 44px;
         border-radius: 6px;
         margin-left: 67px;
         margin-bottom: 30px;
         margin-top: 20px;

    @include mq($from: mobile, $until: desktop) {
       width: 98%;
       margin-left:4px;
    }
        }
    &:hover {
         background-color: white!important;
         color: $primary!important;
    }
    
     }

    @include e('or-container') {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #979ba6;
        margin-bottom: 15px;
    @include mq($from: mobile, $until: desktop) {
       text-align: center;
    }
    &:before {
     @include mq($from: mobile, $until: desktop) {
       display: none;
    }
        content:'';
        display:inline-block;
        width: 248px;
        height: 3px;
        margin-right: 11px;
        margin-bottom: 5px;
        border-bottom-style: dashed;
        border-bottom-color: #d2dbe7;
        border-bottom-width: 1px;
    }
    &:after {
   @include mq($from: mobile, $until: desktop) {
       display: none;
    }
       content:'';
       display:inline-block;
       width: 249px;
       height: 3px;
       margin-left: 11px;
       margin-bottom: 5px;
       border-bottom-style: dashed;
       border-bottom-color: #d2dbe7;
       border-bottom-width: 1px;
    }
    }

    @include e('instructions-title') {
        font-size: 32px;
        width: 100px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #494949;
        margin-top: -5px; 
        border-bottom: solid 6px #2b2e3e;
        padding-bottom: 24px;
        display: inline-block;
    @include mq($from: mobile, $until: tablet) {
          margin-left: 4px;
       } 
  
} 

   @include e('instructions-text') {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        //line-height: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #2b2e3e;
        margin-top: 24px;
    @include mq($from: mobile, $until: tablet) {
          margin-left: 4px;
       } 
   }

   @include e('close-button-container') {
        margin-top: 10px;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #494949;
        text-align: right;
    @include mq($from: mobile, $until: desktop) {
          position: fixed;
          top: 20px;
          right: 20px;
          color: white;
       } 
   }

   @include e('close-icon') {
        width: 21px;
        height: 25px;
        margin-left: 6px;
        margin-bottom: -8px;
    @include mq($from: mobile, $until: desktop) {
         display: none;
       } 
    @include m('mq') {
        display: none;
        width: 21px;
        height: 25px;
        margin-left: 6px;
        margin-bottom: -8px;
    @include mq($from: mobile, $until: desktop) {
         display: initial;
       } 
    }
   }
  
   


}

