@include o("app-form"){
    @include e("container"){
        //margin-top: 2%!important;
        min-height: 680px;
    }
    @include e("line"){
        width: 150px;
        height: 3px;
    }
    @include e("green"){
        display: flex;
        padding: 3px;
        a {
            color: #5cb85c;
            font-weight: 500;
            font-size: 18px;
            flex: 1 10 auto;
         /*   text-transform: lowercase;
            &:first-letter {
                text-transform:uppercase;
            }  */
        }
        .point {
            width: 15px;
            height: 15px;
            background-color: #5cb85c;
            border-radius: 7.5px;
            margin-top: 7px;
        }
    }
    @include e("blue"){
        display: flex;
        padding: 3px;
        a {
            font-size: 18px;
            flex: 1 10 auto;
            color: #196cde;
          /*  text-transform: lowercase;
            &:first-letter {
                text-transform:uppercase;
            }   */
        }
        .point {
            width: 15px;
            height: 15px;
            background-color: #d2dbe7;
            border-radius: 7.5px;
            margin-top: 7px;
        }
        @include m("bold"){
            a {
                font-weight: 600;
            }
        }
    }
    @include e("red"){
        display: flex; 
        padding: 3px;
        a {
            color: #d0021b;
            font-size: 18px;
            flex: 1 10 auto; 
           /* text-transform: lowercase;
            &:first-letter {
                text-transform:uppercase;
            }   */
        }
        .point {
            width: 15px;
            height: 15px;
            background-color: #d0021b;
            border-radius: 7.5px;
            margin-top: 7px;
        }
    }
    @include e("green-btn"){
        background-color: #5cb85c;
        padding: 25px;
        p {
            color: white;
        }
    }

    @include e("link"){
        font-weight: 700;

        &:hover{
            text-decoration: underline;
            color: #196cde;
        }
    }


}
@include o("bold"){
    font-weight: 600;
    a {
        font-weight: 600;
    }
}
@include o("left-box"){
    flex-grow: 0;
}

