@include o("field"){    
    min-height: 0px;
    @include e("header"){
        background-color: #d2dbe7;
        padding: 20px 25px;
        border-bottom: 1px solid #a4c8f1;
    }
    @include e("body"){
        padding: 20px 25px;
        border: solid 1px #d2dbe7;
        margin-bottom: 20px;
    }
    
    @include e('row'){
        display: flex;
        .summary {
            flex: 1 0 auto;
            margin-top: 15px;
        }
        @include mq($from: mobile, $until: tablet) {
       display: block;
    }
    }
    @include e("table"){
         border-collapse: collapse;
         width: 100%;
         margin-top: 20px;
    @include mq($from: mobile, $until: desktop) {
       overflow-x: auto;
       display: block!important;
    }
        thead {
            background-color: #484848;
            tr:hover {
                background-color: #484848;
            }
        }
        tr {
            th {
                color: #fdfdfd!important;
                padding: 12px; 
                font-weight: normal;
               /*  &:first-child{
                    width: 85%;
                } */
            }
        }

    }
    @include e('last-step'){
        color: #196cde;
        font-weight: 600;
        font-size: 24px;
        padding: 20px 10px;
    }
}