@include o('filters'){
    background-color: #484848;
    justify-content: center;
    @include e('list'){
        display: flex;
        padding: 13px; 
        @include mq($from: mobile, $until: desktop) {
            overflow-x: auto;
        }
        > li{
            border-right: 1px solid #666666;
        }
    }
    @include e('item'){
        color:#fdfdfd !important;
        position: relative;
        padding: 0 35px;
        font-size: 14px;
        text-align: center;        
        cursor: pointer;
        &:first-child{
            min-width: 50px;
        }
        @include m('icon'){
            font-size: 21px;
        }
        @include m('is-open'){
            .o-filters__dropdown {
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            
        }
    }

    @include e('subitem'){
        color:#fdfdfd !important;
        position: relative;
        padding: 0 20px;
        font-size: 12px;
        text-align: center;        
        cursor: pointer;        
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;       
    }
       
    
    @include e('dropdown'){
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0px;
        left: -1px;
        width: 325px;
        min-height: 250px;
        max-height: 750px;
        background-color: #fcfcfc;
        border: 1px solid #e6eaea;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
        text-align: left;
        z-index: 9999;
        overflow: hidden;
        -webkit-transform: translateY(35px);
        transform: translateY(35px);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        overflow: auto;
    }

    @include e('overlay-content'){
        display: none;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.75);
        z-index: 100;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        div {
            position: absolute;
            top: 0;
            right: 0;
            img {
                position: relative;
                float: left;
                width: 54px;
                height: 54px;
                margin-left: 1px;
                padding: 15px;
                font-weight: 500;
                background-color: #fcfcfc;
                cursor: pointer;
                -webkit-transition: background-color .3s ease-in-out;
                transition: background-color .3s ease-in-out;
            }
        }
        @include m('is-open'){
                display: flex;
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0);
                transform: translateY(0);
        }
        
    }
    @include e('dropdown-title'){
            color: #363636;
            font-size: 16px;
            font-weight: 600;
            padding: 12px;
            border-bottom: solid 1px #dfe3e3;
            display: flex;
            align-items: center;
    }
    @include e('dropdown-search'){
            color: #363636;
            padding: 4px;
            border-bottom: solid 1px #dfe3e3;
            height: 46px;
    }
    @include e('dropdown-list'){
        li {
            color: #363636;
            padding: 12px;
            border-bottom: solid 1px #dfe3e3;
            font-size: 16px;
            font-weight: 400;

            &:hover{
                background-color: #484848;
                color: #fdfdfd;
            }
        }

        .selected{
            background-color: #484848;
            color: #fdfdfd;
        }
    }
    @include e('dropdown-icon'){
        border: 2px solid #fdfdfd;
            border-right: 0;
            border-top: 0;
            content: " ";
            height: 0.5em;
            pointer-events: none;
            transform: rotate(-45deg);
            width: 0.5em;
            margin-top: -0.375em;
            z-index: 4;
            margin-left: 10px;
    }
    @include e('dropdown-icon-undo'){
        
            margin-right: 8px;
    }
    @include e('body-is-open'){
        position: fixed;
        overflow: hidden;
        width: 100%;
    }

    
}