@include o('form') {
    @include e('id'){
        margin: 5px 0px;
        font-size: 24px;
        font-weight: 500;
        @include m('bold'){
            font-weight: 700;
        }
    }
    @include e('title') {
        margin-top: 36px;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2b2e3e;
    }

    @include e("text"){
        font-size: 36px;        
        color: #d0021b;
        margin-top: 5%;
    }

     @include e('label') {
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #494949;
     }

     @include e('under-label') {
       font-size: 11px!important;
       font-weight: 300;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: left;
       color: #494949;       
     }

     @include e('error-label') {
         font-size: 13px!important;
         font-weight: 500;
         font-style: normal;
         font-stretch: normal;
         line-height: normal;
         letter-spacing: normal;
         text-align: left;
         color: #d0021b;
     }

     @include e('button') {
        background-color: $primary;
        width: 100%;
        height: 75px;
        border-radius: 6px;
        border: solid 2px $primary;        
        font-size: 24px;
        font-weight: bold;
        color: #fdfdfd;        
        margin-top: 8%;

        &:hover {
            background-color: #fdfdfd;
            color: $primary;
            border-color: $primary;
        }
        &:focus {
            background-color: #fdfdfd;
            color: $primary;
            border-color: $primary;   
        }

        @include m('green'){
            background-color:#5cb85c;
            border: solid 2px #5cb85c;
            color: #fdfdfd;
            margin-top: 25px;
            &:hover {
                background-color: #fdfdfd;
                color: #5cb85c;
                border-color: #5cb85c;
            }
            &:focus {
                background-color: #fdfdfd;
                color: #5cb85c;
                border-color: #5cb85c;  
            }
        }             
     }

     @include e('btn') {
        border-radius: 0; 
        width: 113px;              
     }

     @include e('btn-text') {        
        font-size: 14px;
        font-weight: 500;        
     }

     @include e('btn-blue'){
         
         background-color: #196cde;
         color: #fdfdfd;
         font-size: 1.3em;
         color: #fdfdfd;
         font-weight: 600;
         
         &:hover {
             background-color: #fdfdfd ;
             color:#196cde;
             border: 1px solid #196cde;
         }
         @include m('padding'){
             padding: 23px 50px;
         }
         @include m('centered'){
             margin-top: 25px;
             margin-left: 25px;
         }
         @include m('wide'){
            width: 100%;
        }

         @include mq($from: mobile, $until: desktop){
             padding: 18px 40px;
             font-size: 1.1em;
         }
     }
     
     @include e("dotted-btn"){
        margin-top: 15px;
        //padding: 15px;
        height: 60px;
        border-radius: 2px;
        border: dotted 3px #196cde;
        background-color: #fdfdfd;
        color: #196cde;
        font-size: 17px;
        font-weight: 500;
        align-items: center!important;
        &:hover {
             background-color: #fdfdfd;
             border: dotted 3px #196cde;
             color:#196cde;
             font-weight: 600;
         }
         @include mq($from: mobile, $until: tablet){
             font-size: 12px; 
         }
    }

     @include e('icon-green') {
         color: #5cb85c;
     }

     @include e('icon-red') {
         color: #d0021b;
     }

     @include e('checkbox') {
        vertical-align: text-bottom!important;
        margin-left: 5%;
     }
     @include e('align-center') {
        align-self: center;
     }
     @include e("padding"){
         padding-top: 10%;
     } 
} 
@include o('title'){
        font-size: 22px!important;
        font-weight: 500;
}
@include o('bold'){        
        font-weight: 700;
}