@include o('breadcumb') {
    position: absolute;
    border-bottom: 2px solid #196cde;
    padding-bottom: 25px;
    width: 212px;
    padding-left: 20px;
    margin-left: -21px;
   @include mq($from: mobile, $until: tablet) {
        position: relative;
        margin-bottom: 20px;
        border-bottom: none;
        width: auto;
    }
  @include e('route') {
    font-size: 16px;
    font-weight: 300!important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #196cde;
    cursor: pointer;
    &:after {
        content: " > ";
    }
  @include m('active') {
        font-weight: 600!important;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #196cde;
        
    }
  }
}


.content__container {
  flex-grow: 1;
  min-height: calc(100vh - 134px);
} 


html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.title-subtext{
  margin-bottom: 0px!important;
}