

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: transparent;
  width: 125px;
  height: 125px;
  border-radius: 100%;
  border: 10px solid #19bee1;
  z-index: 1000;
}
.loading:before {
  content: '';
  background: transparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: #19bee1 -4px -5px 1px -5px;
  animation: rotate 2s infinite linear;
}
.loading-after{
  content: '';
  position: absolute;
  left: 0%;
  width: 120%;
  text-align:center;
  background: #19bee1;
  color: #fff;
  padding:5px;
  font-weight:300;
  font-size:14px;
  display:block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

