@include o("menu"){    
    border-bottom: solid 2px $primary;
    padding-left: 3%;
    padding-right: 4%;
    
    @include e("shadow"){
        box-shadow: 0 1px 1px rgba(10,10,10,0.1);
    }
       
    @include e("right"){
        font-weight: 500;
        font-size: 18px;
        margin-left: 1%;
        position: relative;
        color: #7a7a7a;
        cursor: pointer;

        &:hover{
            &::after{
                width: 100%;
            }
        } 

        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 4px;
            width: 0;
            -webkit-transition: width 0.25s, top 0.2s;
            transition: width 0.25s, top 0.2s;
            background-color: $primary;
            z-index: 1;        
        }

        @include m("blue-text"){
            color: $primary!important;               
        }

        @include m("blue-background"){
            background-color: $primary!important;
            color: #fff!important;  
            width: 28%!important;             
        }
        
        @include m("active"){
            color: $primary!important;
            border-top: 3px solid #196cde!important;  
            border-bottom: none!important;  
        }       
    } 
    @include e("logo"){
        width: 40px;
        height: 40px;
        //display: flex;
        //align-items: center;
        //justify-content: center;                		  
    }
    @include e("logo-img"){
        max-height: none!important;
    }
    @include e("left"){
        font-size: 18px;
        color: $primary;
        margin-left: 10px;
        margin-right: 10px;
    } 
    @include e("space"){
        padding-left: 15px;
        padding-right: 15px;       
    }
    @include e("border"){
        border-right: 1px solid #d2dbe7;       
    }
    @include e("search"){
        border: none!important;
        box-shadow: none!important;
        font-size: 16px;
        font-weight: 600;
        color: #484848;
    } 
    @include e("search-icon"){
        top: 1.1rem!important;
    }   

    @include e("dropdown"){
        position: relative;        

        &:hover .o-menu__dropdown-content {
            display: block;
        }
    }

    @include e("dropdown-content"){
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin-top: 14px;
        z-index: 1;

        a {            
            padding: 10px 16px;
            text-decoration: none;
            display: block;
            border-bottom: 1px solid #d2dbe7;
            text-align: left;
            font-size: 16px;
            font-weight: 600;
        
            &:hover {
                background-color: #f1f1f1;
                color: $primary;
            }
           
        }

        .arrow{
            padding: 0;
            text-align: center;
            color: $primary;
            cursor: none;  
            border-bottom: 1px solid #d2dbe7;          
        }

       
    }   
}

@include o("section"){         
    background-color: $primary;
    margin-right: 2px;
    //margin-top: 15px;    
    justify-content: space-between;

    @include e("container"){ 
        min-height: 85vh;
        margin-bottom: 0!important;
    }

    @include e("icon"){
        display: inline-block;           
        margin-top: 20%;  
        margin-bottom: 5%; 

        @include mq($from: mobile, $until: tablet) {
            margin-top: 10%;
        }
    }

    @include e("line"){
        border-bottom: 4px solid;
        padding-bottom: 1%;
    }
    
    @include e("box"){
        width: 90%;
        margin-left: 5%;
    }

    @include e("buttonbox"){
        display: flex;
        justify-content: center;        
    }

    @include e("title"){
        font-size: 48px;
        font-weight: 500;
        color: #fff;
    }

    @include e("paragraph"){
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        padding-top: 22px;
        //padding-bottom: 75px; 
    }

    @include e("btn"){
        background-color: transparent;
        width: 95%;
        height: 75px;
        border-radius: 6px;
        border: solid 2px #fdfdfd;
        margin-bottom: 15%; 
        font-size: 24px;
        font-weight: bold;
        color: #fdfdfd;

         @include mq($from: mobile, $until: tablet) {
            margin-bottom: 2%;
        }

        &:hover, &:focus, &:active {
         background-color: #fdfdfd;
         border: solid 2px #fdfdfd;
         color: $primary;
        }

    }

    @include e("btn2"){
        background-color: transparent;
        border-radius: 4px;
        border: solid 1px #fdfdfd;
        font-size: 16px;
        padding: 8px;
        font-weight: 600;
        color: #fdfdfd;

        &:first-child{
            margin-right: 5px;
        }        

        &:hover, &:focus, &:active  {
         background-color: #fdfdfd;
         border: solid 1px #fdfdfd;
         color: $primary;
        }
        
    }   
}

@include o("footer"){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;  
    background-color: #fff;  
        
    @include e("icon"){                    
        width: 60px;
        height: 60px; 
        display: flex;
        align-items: center;
        justify-content: center;              
    }

    @include e("border"){                    
        border-top: 1px solid #d2dbe7;
        //margin-top: 5%;             
    }
    
}

.nav-left{
    flex-basis: 15%!important;
}
.nav-right{
    flex-basis: 85%!important;
}
