@include o("preview"){
    @include e("container"){
        margin-top: 2%!important;
    }
    @include e("line"){
        height: 2px;
        width: 27%;
        margin-top: 5px!important;
        margin-bottom: 15px!important;        
    }
    @include e("select-line"){
        border-bottom: 1px solid #d2dbe7;
        margin-bottom: 3%!important;
        margin-top: 0%!important;
    }
    @include e("space"){
        margin-left: 7px;
    } 
    @include e("select"){
        appearance: none;

        &::-ms-expand{
            display: none;
        }
    }  
     @include e("margin-bottom"){
        margin-bottom: 0!important;
    } 
    @include e("margin-left"){
        margin-left: 22px!important;
    } 
    @include e("search"){
        border: 1px solid #dbdbdb!important;
        border-radius: 3px;
        box-shadow: none!important;
        height: 41px;
        font-size: 16px;
        font-weight: 600;
        color: #484848;
    } 
    @include e("section"){
        border: 1px solid #d2dbe7;
        background-color: #fdfdfd;
        padding: 1.5%!important;
        margin-bottom: 2%!important;
    }
    @include e("title"){
        font-size: 24px;
        font-weight: 500; 
        color: #2b2e3e;

        @include m("small"){
            font-size: 18px;
        }

        @include m("big"){
            font-size: 36px;
            font-weight: bold;        
        }

        @include m('bold'){
            font-weight: 600;
        }
         
        @include m('center'){
            text-align: center;
        } 
        @include m("uppercase"){
            text-transform: uppercase;        
        }
        @include m("green"){
            color: #5cb85c;
            font-size:16px;       
        }
        @include m("red"){
            color: #d0021b;
            font-size:16px;       
        }
        @include m("blue"){
            color: #196cde;
        }
    }
     @include e("subtitle"){
        font-size: 24px;         
        color: #2b2e3e;      
    }
    @include e("info"){
        font-size: 13px;
        font-weight: 500;  
        color: #2b2e3e;   
    }
     @include e("paragraph"){
        font-size: 13px;
        font-weight: 500;  
        color: #2b2e3e;        
        padding-bottom: 12px;
    }
    @include e("paragraph2"){
        font-size: 16px;          
        color: #2b2e3e;        
    }
    @include e("centered"){
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    @include e("centered2"){
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    @include e('centered-vert'){
        display: flex;
        align-items: center;
    }
    @include e('centered-end'){
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
    }
     @include e('reverse'){
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }


    
    @include e("btn"){
        background-color: transparent;
        width: 7em;
        //height: 2em;
        border-radius: 2px;
        border: solid 1px $primary;         
        font-size: 16px;
        font-weight: 500;
        color: $primary;
        white-space: normal;
        min-height: 2.285em;
        //height: inherit;
        line-height: 1;

        &:hover {
         background-color: $primary;
         color: #fdfdfd;
        }
        @include m('small'){
            font-size: 17px;
        }
        
    } 
    @include e('group'){
        
        a {
            &:first-child{
                border-left: solid 1px #196cde;
            }
            border-left: none;
            border-radius: 0px;
            &:hover {
                border: none;
            }
        }
    }

    @include e('search-button') {
        margin-top: 17px;
    }

    @include e('search-underline'){
        border-bottom: solid 1px #196cde;
    }

    @include e('table-button') {
        height: 100%;
        width: 100%;
        
    }

    @include e('modal-save-button') {
        height: 40px;
        width: 200px;
    @include m('inverted') {
        background-color: #23d160!important;
        border-color: white!important;
        color: white!important;
        &:hover {
             background-color: white!important;
        border-color: #23d160!important;
        color: #23d160!important;
        }
    }
    @include mq($from: mobile, $until: desktop) {
       width: 100px;
    }
    }

    @include e('top-column-fix') {
        margin-top: 10px;
    }

    @include e('close-button-fix') {
         margin-top: -68px !important;
         margin-bottom: 61px!important;
    @include mq($from: mobile, $until: desktop) {
        margin-top: -5px !important;
        margin-bottom: 0px!important;
    }
    }

    @include e('select-list') {
        width:100%;
    @include mq($from: mobile, $until: desktop) {
        max-width: 280px;
    }
    }

    @include e('modal') {
        background-color: white;
        width: 600px;
        height: 470px;
        padding: 0px!important;
        margin: 0 20px!important;;
        @include m('small'){
            height: inherit;
        }
    @include mq($from: mobile, $until: desktop) {
       overflow-y: auto;
       margin-right: 0px!important;
       margin-left: 0px!important;
       width: 100%;
    }
    }

    @include e('row'){
        display: flex;
        @include mq($from: mobile, $until: desktop) {
            display: block;
    }
    }

    @include e('pagination-container'){
        flex: 1 0 auto;
            text-align: -webkit-right;
    }
  @include e('pagination') {
       margin-right: 10px;
     
       @include m('special-button') {
               margin-left: 10px;
       }
    @include m('active') {
        background-color: #196cde!important;
        color: white!important;
            cursor: auto!important;
    }
  }
  
  @include e('right-align') {
            text-align: right;
    }

@include e('left-align') {
            text-align: left;
    }

        
 @include e('right-align-flex') {
            justify-content: flex-end;
    }
  @include e('modal-title') {
      font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2b2e3e;
    border-bottom: solid 6px #196cde;
    padding-bottom: 14px;
    display: inline-block;
  }

  @include e('hr-fix') {
      height: 50px;
  }



}

.pagination-link  {
    font-size: 16px;
}

.pagination-previous {
    font-size: 16px;
}

.pagination-next {
    font-size: 16px;
}
.pagination-ellipsis {
    font-size: 16px;
}

.max-width{
    width: 100%;
}
.button-width{
    width: 85%;
}
.txt-align{
    text-align: left;
}
.table-row-admin{
    /*background-color: #FFCC98;*/
    font-size: 16px;
    color:red;
}
.table-row-nepotvrden{
    /*background-color: #FFA07A !important;*/
    background-color: #F99999;
}
.zaglavlje-dev{
    background-color:deepskyblue;
}
.zaglavlje-test{
    background-color:darkorange
} 
.inputbox-margin{
    padding-left: 10px!important;
}