@include o('register'){
    @include e('logo-name-container'){
     margin-top: 20px;
     height: 56px;
     font-size: 48px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     text-align: center;
     color: #a4c8f1;
     margin-bottom: 16px;
     text-align: center;
    }
    @include e('logo-name'){
        font-weight: 500;
        @include m('p'){
            color: #196cde;
        }
    }
    @include e('icon-container') {
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 100px;
        margin-left: 46%;
    @include mq($from: mobile, $until: tablet) {
        margin-left: 35%;
    }
      @include mq($from: tablet, $until: desktop) {
        margin-left: 44%;
    }
    }

  

    @include e('title') {
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #196cde;
    }

    @include e('subtitle') {
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: normal;
        text-align: center;
        color: #2b2e3e;
        margin-top: 20px;
    }

    @include e('submit-button') {
        width: 50%;
        height: 44px;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #196cde;
        border-radius: 6px;
  @include mq($from: mobile, $until: tablet) {
        font-size: 9px;
    }
    }

    @include e('button-container') {
        margin-top: 80px;
    }

}

