@include o('tabs'){
        user-select: none;
        align-items: stretch;
        display: flex;
        font-size: 1rem;
        justify-content: space-between;
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
        
        @include e('list'){
            align-items: center;
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            justify-content: flex-start;
            background-color: #d2dbe7;
            border: solid 1px #abacb0;
        }

        @include e('item'){
            display: block;
            a {
                align-items: center;
                color: #4a4a4a;
                display: flex;
                justify-content: center;
                padding: 10px 40px;
                font-size: 21px;
            }

            @include m('is-active'){
                a {
                    font-weight: 600;
                    position: relative;
                    &:after {
                        background-color: white;
                        content: " ";
                        display: block;
                        height: 10px;
                        pointer-events: none;
                        position: absolute;
                        width: 10px;
                        transform: translate(0%, 55%) rotate(-45deg);
                        bottom: 0%;
                        left: 48%;
                    }
                }
                
            }
        }

        @include m('centered'){
            .o-tabs__list {
                justify-content: center;
            }
        }
}